<?xml version="1.0" encoding="UTF-8"?>
<settings
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
  xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--<servers>-->
    <!--<server>-->
      <!--<username></username>-->
      <!--<password></password>-->
      <!--<id>central</id>-->
    <!--</server>-->
    <!--<server>-->
      <!--<username></username>-->
      <!--<password></password>-->
      <!--<id>releases</id>-->
    <!--</server>-->
  <!--</servers>-->
  <profiles>
    <profile>
      <id>default</id>
      <properties>
        <repo.releases.url>file://${user.home}/.m2/repository</repo.releases.url>
      </properties>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>repocentral</name>
          <url>https://artifactory.azure.defra.cloud/artifactory/repocentral</url>
        </repository>
        <repository> <!-- FIXME: change to actual release repo -->
          <id>release</id>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <name>Local repository</name>
          <url>${repo.releases.url}</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>repocentral</name>
          <url>https://artifactory.azure.defra.cloud/artifactory/repocentral</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots/>
          <id>snapshots</id>
          <name>repocentral</name>
          <url>https://artifactory.azure.defra.cloud/artifactory/repocentral</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
</settings>
